{% extends "Products/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container center-b p-5 dummy">
    <div class="row" style="width:70%;margin-left: 18%;">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 p-5">
            <div class="card-group ">
                <div class="card" style="background-color:whitesmoke;border-radius: 15px;box-shadow: 15px 15px 10px gray;">
                    <div class="card-body">
                        <form method="POST">
                            {% csrf_token %}
                            <fieldset class="form-group">
                                <legend class="border-bottom mb-4 legend">Reset Password</legend>
                                {{ form|crispy }}
                            </fieldset>
                            <div class="form-group">
                                <button class="btn btn-outline-info" type="submit">Reset Password</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content%}