{% extends "Products/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container center-b dummy">
    <div class="row" style="width:77%;margin-left: 15%;">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 pt-4">
            <!-- <div class="content-section"> -->
            <div class="card-group ">
                <div class="card" style="background-color:whitesmoke;border-radius: 15px;box-shadow: 15px 15px 10px gray;">
                    <!-- <h1 style="color: #0a043c;" class="text-center ">Registration</h1>
                    <hr > -->
                    <div class=" card-body">
                        <form method="POST">
                            {% csrf_token %}
                            <fieldset class="form-group">
                                <legend class="border-bottom mb-4 legend">Join Today</legend>
                                {{ form|crispy }}
                            </fieldset>
                            <div class="form-group">
                                <button class="btn btn-outline-info" type="submit">Sign Up</button>
                            </div>
                        </form>
                        <div class="border-top pt-3">
                            <small class="text-muted">
                                Already Have An Account?<a class="ml-1 text-dark" href="{% url 'login' %}">Sign In</a>
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content%}